**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/terraform.tfvars
**/*.auto.tfvars
**/backend.hcl
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
# Commit .terraform.lock.hcl; examples are intentionally tracked.
